body {
      font-family: 'Helvetica', 'Arial', sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #000000;
      margin: 0;
      padding: 0;
    }
.container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:100vh;
    width:100vw;
}
.chartsContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:20vw;
    align-items: center;
}

.categoriesContainer {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    width:95%;
}

.salesContainer {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:95%;
}

.resetCategoryToAll {
    font-weight: 700;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 10px;
    height: 25%;
    width: 100%;
    font-size: medium;
    background-color: rgb(6, 173, 173);
}

.gridAndPanelDivMobile {
    display:flex;
    flex-direction: row;
}

@media (max-width:700px){
    img {
    max-width: 100px;
    max-height: 100px;
    border-radius:5px;
}
    .resetCategoryToAll {
        font-weight: 700;
        height: 25%;
        width: 100%;
        font-size: 1.6vh;
        background-color: rgb(6, 173, 173);
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height:100vh;
        width:100vw;
    }
    .salesContainer {
        background-color:  rgb(34, 37, 37);
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        height:100%;
        width:55%;
        margin-right: 15px;
    }
    .categoriesContainer {
        margin-left: 20px;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        gap:10px;
        width:40%;
    }
    .chartsContainer {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap:5px;
        width:100%;
        height:30%;
        align-items: center;
    }
    .gridAndPanelDivMobile {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        height:70%;
    }
}