.gridContainer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100%;
    width:60vw;
    flex-wrap: wrap;
    gap:5px;
    overflow: auto;
}
.productContainer {

    box-shadow: 7px 8px 10px rgb(0, 0, 0);
    word-break: break-all;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     background-image: linear-gradient(rgb(97, 142, 145), rgb(29, 45, 51));
    color: white;
    margin-left: 12px;
    padding: 25px;
    border-radius: 20px;
    width:15%;
    font-size: 0.7vw;
}
p {
    padding: 0px;
    margin: 2px;
}
.productImage {
    max-width: 4vw;
    max-height: 4vw;
    border-radius:5px;
}

.attributeDecorator {
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.815);
    padding: 3px;
}

@media (max-width:700px){
    .productImage {
    max-width: 5vh;
    max-height: 5vh;
    border-radius:5px;
}
    .gridContainer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100%;
    width:60vw;
    flex-wrap: wrap;
    gap:5px;
    overflow: auto;
}
    .productContainer {
    word-break: break-all;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
     background-image: linear-gradient(rgb(97, 142, 145), rgb(29, 45, 51));
    color: white;
    padding: 10px;
    border-radius: 5px;
    width:30%;
    font-size: 1.2vh;
    gap:0px;
}
    .productImage {
        width: 40%;
        height: auto;
    }
}