.panelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20vw;
    background-color: rgb(34, 37, 37);
    color: white;
}
@media (max-width:700px){
    .panelContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50vw;
        background-color: rgb(34, 37, 37);
        color: white;
    }
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width:80%;
    height:100%;
}

.inputContainer {
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.formInput {
    width:100%;
    border-radius: 5px;
    background-color: black;
    color:white;
}

textarea {
  resize: none;
}

button {
    width:5vw;
    height:6vh;
    border-radius: 15px;
    color: white;
}

.previewImage {
    width:90%;
    height:auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width:95%;
}

.saveButton {
    background-color: rgb(41, 160, 81)
}
.saveButton:disabled {
    background-color: darkgray;
}

.updateButton {
    background-color: rgb(41, 160, 81)
}
.updateButton:disabled {
    background-color: darkgray;
}
.unselectButton {
    background-color: rgb(42, 64, 124);
}

.deleteButton {
    background-color: rgb(214, 36, 36);
}