.panelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20vw;
    background-color: rgb(144, 144, 190);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width:80%;
    height:100%;
}

.inputContainer {
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.formInput {
    width:100%;
    border-radius: 20px;
}

textarea {
  resize: none;
}

button {
    width:5vw;
    height:6vh;
    border-radius: 15px;
}

.previewImage {
    width:90%;
    height:auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width:95%;
}