.gridContainer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100%;
    width:60vw;
    flex-wrap: wrap;
    gap:5px;
    overflow: auto;
}
.productContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
     background-image: linear-gradient(rgb(97, 142, 145), rgb(29, 45, 51));
    color: white;
    margin-top:15px;
    margin-left: 15px;
    padding: 25px;
    border-radius: 20px;
    height:15%;
    width:15%;
    font-size: 0.7vw;
    gap:0px;
}
@media (max-width:700px){
    .gridContainer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    height: 100%;
    width:60vw;
    flex-wrap: wrap;
    gap:5px;
    overflow: auto;
}
    .productContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
     background-image: linear-gradient(rgb(97, 142, 145), rgb(29, 45, 51));
    color: white;
    margin-top:15px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 20px;
    width:30%;
    font-size: 0.7vw;
    gap:0px;
}
    .productImage {
        width: 85%;
        height: auto;
    }
}
p {
    margin: 0px;
}
