.panelContainer {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    background-image: linear-gradient(rgb(50, 67, 68), rgb(6, 19, 24));
    color: white;

}
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width:92%;
        height:100%;
    }

.inputContainer {
    margin-right: 5px;
    width:95%;
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height:10%;
    font-size: 1.2vw;
}

.textareaContainer {
    margin-right: 5px;
    width:95%;
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height:15%;
    font-size: 1.2vw;
}



.formInput {
    font-size: 1vw;
    height:90%;
    width:100%;
    border-radius: 5px;
    background-color: black;
    color:white;
}

.descriptionInput {
    font-size: 1vw;
    height:90%;
    width:100%;
    border-radius: 5px;
    background-color: black;
    color:white;
}


.imgUpload {
    font-size: 1vw;
    height:90%;
    width:100%;
    border-radius: 5px;
    background-color: transparent;
    color:white;
}


textarea {
  resize: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height:6vh;
    border-radius: 15px;
    color: white;
    font-size: 0.8vw;
}

.previewImage {
    margin-top: 10px;
    width:60%;
    height:auto;
}

.buttonContainer {
    flex-wrap: wrap;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    width:100%;
}

.saveButton {
    font-weight: 700;
    background-color: rgb(41, 160, 81);
    width:95%;
}
.saveButton:disabled {
    font-weight: 700;
    background-color: darkgray;
    width:95%;
}

.updateButton {
    font-weight: 700;
    background-color: rgb(41, 160, 81);
    width:30%;
}
.updateButton:disabled {
    font-weight: 700;
    background-color: darkgray;
    width:30%;
}
.unselectButton {
    font-weight: 700;
    background-color: rgb(42, 64, 124);
    width:30%;
}

.deleteButton {
    font-weight: 700;
    background-color: rgb(214, 36, 36);
    width:30%;
}
@media (max-width:700px){
.inputContainer {
    margin-right: 5px;
    width:95%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height:7%;
    font-size: 1.5vh;
}


.textareaContainer {
    margin-right: 5px;
    width:95%;
    display:flex;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height:15%;
    font-size: 1.5vh;
}



.formInput {
    font-size: 1.5vh;
    height:90%;
    width:100%;
    border-radius: 5px;
    background-color: black;
    color:white;
}

.descriptionInput {
    font-size: 1.5vh;
    height:90%;
    width:100%;
    border-radius: 5px;
    background-color: black;
    color:white;
}




    button {
    display: flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    border-radius: 15px;
    color: white;
    font-size: 0.8vh;
}
    .saveButton {
    font-weight: 700;
    background-color: rgb(41, 160, 81);
    width:95%;
font-size: 1.6vh;
}
    .panelContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50vw;
        background-color: rgb(34, 37, 37);
        color: white;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:3vh;
        align-items: stretch;
        width:92%;
    }
}
